{
  "config": {
    "chainId": {{ .ChainID }},
    "homesteadBlock": 0,
    "eip150Block": 0,
    "eip155Block": 0,
    "eip158Block": 0,
    "byzantiumBlock": 0,
    "constantinopleBlock": 0,
    "petersburgBlock": 0,
    "istanbulBlock": 0,
    "muirGlacierBlock": 0,
    "ramanujanBlock": 0,
    "nielsBlock": 0,
    "mirrorSyncBlock": 0,
    "brunoBlock": 0,
    "eulerBlock": 0,
    "nanoBlock": 0,
    "moranBlock": 0,
    "gibbsBlock": 0,
    "planckBlock": 0,
    "lubanBlock": 0,
    "platoBlock": 0,
    "berlinBlock": 0,
    "londonBlock": 0,
    "hertzBlock": 0,
    "hertzfixBlock": 0,
    "shanghaiTime": 0,
    "keplerTime": 0,
    "feynmanTime": 0,
    "feynmanFixTime": 0,
    "terminalTotalDifficulty": 0,
    "terminalTotalDifficultyPassed": true,
    "parlia": {"period": 3, "epoch": 200000}
  },
  "nonce": "0x0",
  "timestamp": "0x0",
  "extraData": "{{ .ExtraData }}",
  "gasLimit": "0x1fffffffffffff",
  "difficulty": "0x1",
  "mixHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
  "coinbase": "0x0000000000000000000000000000000000000000",
  "alloc": {
    "{{ .Validator }}": { "balance": "0x7fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff" }
  },
  "number": "0x0",
  "gasUsed": "0x0",
  "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000"
}
